.container {
  padding: 3em 10vw;
}

.app {
  .content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 8em);

    .left,
    .right {
      width: 45%;
    }

    a {
      text-decoration: none;
      color: #0366d6;
    }

    pre {
      padding: 16px;
      overflow: auto;
      // font-size: 85%;
      line-height: 1.45;
      background-color: #f6f8fa;
      border-radius: 3px;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 0.5rem;

      span {
        font-size: x-large;
      }

      .download {

        button {
          background-color: rgb(180, 42, 42);
          padding: 1em 2em;
          color: white;
          outline: none;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          transition: 0.3s ease-in-out;
          margin-left: 1em;
        }

        .image {
          background-color: #7e91d6;
        }

        button:hover {
          opacity: 0.7;
        }
      }
    }

    .left {
      textarea {
        font-family: inherit;
        width: 100%;
        height: 100%;
        border: 1.3px solid #9E9E9E;
        border-radius: 5px;
        outline: none;
        resize: none;
        padding: 1em 2em;
        transition: 0.3s ease-in-out;
      }

      textarea:focus {
        border-width: 1.7px;
      }
    }

    .right {
      .preview-container {
        height: 100%;
        background-color: rgba($color: #9E9E9E, $alpha: 0.1);
        padding: 1em 2em;
        border-radius: 5px;
        position: relative;
        overflow-y: scroll;

        .preview {
          word-break: break-all;
        }
      }

      .preview-container:hover {
        .download {
          opacity: 1;
        }
      }
    }
  }
}